{{ define "content" -}}
{{ $cdn_url := .Scratch.Get "cdn_url" }}
<article class="post-warp">
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        {{ if and (eq .Section "posts") (not .Date.IsZero) }}
        <p class="post-meta-simple">
            Written on <time datetime="{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}">{{ .Date.Format (.Site.Params.dateFormatToUse | default "2 January 2006") }}</time>
        </p>
        {{ end }}
    </header>
    <div class="post-content">
        <!--featured_image-->
        {{ $images := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
        {{ if ge (len $images) 1}}
            {{ $.Scratch.Set "postHasImages" true }}
        {{ end }}

        {{ with .Params.featured_image }}
          {{- $img := . -}}
          <img src="{{ printf "%s%s" $cdn_url $img }}" class="featured_image">
        {{ end }}
        <!-- end featured_image-->
     
          {{ $reAltIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\">" }}
          {{ $reAltOut :=  ( printf "<figure><img src=\"/images/ring.svg\" data-sizes=\"auto\" data-src=\"%s$1\" alt=\"$2\" class=\"lazyload\"><figcaption class=\"image-caption\">$2</figcaption></figure>" $cdn_url ) }}
          {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}

          {{ $reAltTitleIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\" title=\"([^\"]+)?\" />" }}
          {{ $reAltTitleOut := ( printf "<figure><img src=\"/images/ring.svg\" data-src=\"%s$1\" data-sizes=\"auto\" alt=\"$2\" title=\"$3\" class=\"lazyload\"><figcaption class=\"image-caption\">$2</figcaption></figure>" $cdn_url ) }}
          {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut | safeHTML }}

          {{ $finalContent }}
    </div>
</article>
{{- end }}
